.main {
  flex-grow: 1;
  &__menu,
  &__description {
    margin-bottom: 38px;
  }
  &__item {
    margin-bottom: 3px;
    &:last-child {
      margin-bottom: 0;
    }
  }
  &__content {
    padding: 0 27px;
  }
  &-contacts .content {
    display: none;
  }
  &--projects .content {
    display: none;
  }
}
.header--opened ~ .main {
  display: none;
}

@media (min-width: $desktop-width) {
  .main {
    display: flex;
    max-height: 830px;
    &-contacts .content {
      width: 52.55%;
      max-width: none;
      display: block;
      overflow: hidden;
      &__title {
        display: none;
      }
    }
    &-contacts .description {
      width: 30%;
    }
    &__menu {
      margin-bottom: 0;
      max-width: 311px;
      width: 17.45%;
      min-width: 244px;
      border-right: 1px solid $border-color;
      &--long {
        width: 21.1%;
      }
    }
    &__description {
      width: 43.25%;
      max-width: 771px;
      &--short {
        width: 400px;
      }
    }
    &__content {
      width: 39.3%;
      max-width: 700px;
      padding: 0;
      &--long {
        max-width: none;
        width: 100%;
      }
    }
    &__item {
      border-bottom: 1px solid $border-color;
      margin-bottom: 0;
      &:last-child {
        border: none;
      }
    }
  }
}
