@charset "UTF-8";
@font-face {
  font-family: "Fira Code";
  font-weight: 400;
  font-display: swap;
  src: url("../fonts/FiraCode-Regular.woff");
}
@font-face {
  font-family: "Fira Code";
  font-weight: 500;
  font-display: swap;
  src: url("../fonts/FiraCode-Medium.woff");
}
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  background-repeat: no-repeat;
  box-sizing: border-box;
  font-family: "Fira Code";
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

body {
  background-color: #010C15;
  padding: 15px;
}

img {
  width: 100%;
  height: auto;
}

.hide {
  display: none;
}

.full {
  width: 100% !important;
  max-width: none !important;
}

.container {
  border: 1px solid #1E2D3D;
  min-width: 300px;
  max-width: 900px;
  border-radius: 8px;
  margin: 0 auto;
  background-color: #011627;
  display: flex;
  flex-direction: column;
  background-image: url("../img/bg-mobile.png");
  background-position: center;
}
.container--withoutBG {
  background-image: none;
}

.page-title {
  padding: 21px 27px 29px;
  font-weight: 450;
  font-size: 14px;
  line-height: 140%;
  color: #fff;
}

.header--opened ~ .page-title {
  display: none;
}

@media (min-width: 1200px) {
  .container {
    max-width: 1782px;
    height: 941px;
    margin: 0 auto;
    background-image: url("../img/bg-desktop.png");
    background-position: right;
  }
  .page-title {
    display: none;
  }
}
.header {
  position: relative;
  border-bottom: 1px solid #1E2D3D;
}
.header__logo {
  display: inline-block;
  padding: 17px;
  font-weight: 450;
  font-size: 16px;
  line-height: 21px;
  color: #607B96;
  max-width: 311px;
}

@media (min-width: 1200px) {
  .header {
    display: flex;
  }
  .header__logo {
    border-right: 1px solid #1E2D3D;
    max-width: 311px;
    width: 17.45%;
    min-width: 244px;
    padding-left: 22px;
  }
}
.navigation__menu {
  display: none;
}
.navigation__menu li {
  border-top: 1px solid #1E2D3D;
}
.navigation__button {
  position: absolute;
  cursor: pointer;
  top: 20px;
  right: 17px;
  width: 18px;
  height: 16px;
  font-size: 0;
  background-color: transparent;
  border: 0;
}
.navigation__button span {
  display: block;
  height: 2px;
  width: 18px;
  background-color: #607B96;
}
.navigation__button span::before, .navigation__button span::after {
  content: "";
  position: absolute;
  display: block;
  height: 2px;
  width: 18px;
  background-color: #607B96;
}
.navigation__button span::before {
  top: 0;
}
.navigation__button span::after {
  bottom: 0;
}
.navigation__item {
  display: inline-block;
  padding: 17px;
  font-weight: 400;
  width: 100%;
  font-size: 16px;
  line-height: 21px;
  color: #fff;
}
.navigation__item:hover {
  opacity: 0.7;
}

.header--opened .navigation__button span {
  height: 0;
}
.header--opened .navigation__button span::after {
  top: 7px;
  transform: rotate(45deg);
}
.header--opened .navigation__button span::before {
  top: 7px;
  transform: rotate(-45deg);
}
.header--opened .navigation__menu {
  display: block;
}

@media (min-width: 1200px) {
  .navigation {
    width: 82.55%;
  }
  .navigation__menu {
    display: flex;
  }
  .navigation__menu li {
    border-top: none;
    border-right: 1px solid #1E2D3D;
  }
  .navigation__menu li:last-child {
    margin-left: auto;
    border-right: none;
    border-left: 1px solid #1E2D3D;
  }
  .navigation__item {
    padding: 16px 32px;
    font-weight: 450;
    opacity: 0.7;
  }
  .navigation__item--active {
    border-bottom: 3px solid #FEA55F;
    opacity: 1;
  }
  .navigation__item:hover {
    opacity: 1;
  }
  .navigation__button {
    display: none;
  }
}
.info__wrapper {
  padding: 96px 17px 85px 17px;
  display: flex;
  justify-content: space-between;
  max-width: 450px;
  margin: 0 auto;
}
.info__code {
  display: none;
}
.info__pretitle {
  font-weight: 450;
  font-size: 18px;
  line-height: 24px;
  color: #E5E9F0;
  margin-bottom: 10px;
}
.info__title {
  font-weight: 400;
  font-size: 42px;
  line-height: 100%;
  color: #E5E9F0;
  margin-bottom: 5px;
}
.info__description {
  font-weight: 450;
  font-size: 20px;
  line-height: 26px;
  color: #43D9AD;
  margin-bottom: 195px;
}
.info__github {
  font-weight: 450;
  font-size: 14px;
  line-height: 140%;
  color: #607B96;
  margin-bottom: 16px;
}
.info__github-link {
  font-weight: 500;
  position: relative;
  font-size: 14px;
  line-height: 140%;
  z-index: 1;
}
.info__github-link a {
  color: #E99287;
}
.info__github-link--blue {
  color: #4D5BCE;
}
.info__github-link--green {
  color: #43D9AD;
}
.info__github-link--white {
  color: #fff;
}

.header--opened ~ .info {
  display: none;
}

@media (min-width: 1200px) {
  .info__wrapper {
    width: 66vw;
    max-width: 1158px;
    padding: 0;
    align-items: center;
  }
  .info__pretitle {
    margin-bottom: 0;
  }
  .info__title {
    line-height: 81px;
    font-size: 62px;
    margin-bottom: 0;
  }
  .info__title br {
    display: none;
  }
  .info__description {
    font-size: 32px;
    line-height: 42px;
    color: #4D5BCE;
    margin-bottom: 111px;
  }
  .info__github {
    font-size: 16px;
    line-height: 21px;
    margin-bottom: 10px;
  }
  .info__github-link {
    font-size: 16px;
    line-height: 21px;
  }
  .info__code {
    display: block;
    width: 560px;
  }
}
.footer {
  border-top: 1px solid #1E2D3D;
  align-items: center;
  justify-content: space-between;
  display: flex;
}
.footer__text {
  padding: 13px 0 15px 18px;
  font-weight: 450;
  font-size: 16px;
  line-height: 21px;
  color: #607B96;
}
.footer__list {
  display: flex;
  height: inherit;
}
.footer__list li {
  border-left: 1px solid #1E2D3D;
}
.footer__item {
  display: inline-block;
  font-size: 0;
  width: 52px;
  height: 47px;
  padding: 12.5px 14px;
  background-size: 24px 24px;
  background-position: center;
  opacity: 0.4;
}
.footer__item:hover {
  opacity: 1;
}
.footer__item--vk {
  background-image: url("../img/icon-vk.svg");
}
.footer__item--github {
  background-image: url("../img/icon-git.svg");
}

.info ~ .footer {
  display: none;
}

.header--opened ~ .footer,
.about ~ .footer {
  display: flex;
}

@media (min-width: 1200px) {
  .footer {
    display: flex;
  }
  .footer__text {
    display: inline-block;
    width: 17.45%;
    max-width: 311px;
    min-width: 244px;
    height: 53px;
    padding-left: 22px;
    padding-right: 18px;
    border-right: 1px solid #1E2D3D;
  }
  .footer__list {
    justify-content: flex-start;
    flex-grow: 1;
    padding-right: 24px;
  }
  .footer__list li {
    border-left: none;
    border-right: 1px solid #1E2D3D;
  }
  .footer__list li:last-child {
    margin-left: auto;
    border-right: none;
    border-left: 1px solid #1E2D3D;
  }
  .footer__list li:last-child a {
    width: auto;
    text-align: center;
    padding: 15px 30px 12px 23px;
    color: #607B96;
    font-weight: 450;
    font-size: 16px;
    line-height: 21px;
    background-position-x: right;
  }
}
.main {
  flex-grow: 1;
}
.main__menu, .main__description {
  margin-bottom: 38px;
}
.main__item {
  margin-bottom: 3px;
}
.main__item:last-child {
  margin-bottom: 0;
}
.main__content {
  padding: 0 27px;
}
.main-contacts .content {
  display: none;
}
.main--projects .content {
  display: none;
}

.header--opened ~ .main {
  display: none;
}

@media (min-width: 1200px) {
  .main {
    display: flex;
    max-height: 830px;
  }
  .main-contacts .content {
    width: 52.55%;
    max-width: none;
    display: block;
    overflow: hidden;
  }
  .main-contacts .content__title {
    display: none;
  }
  .main-contacts .description {
    width: 30%;
  }
  .main__menu {
    margin-bottom: 0;
    max-width: 311px;
    width: 17.45%;
    min-width: 244px;
    border-right: 1px solid #1E2D3D;
  }
  .main__menu--long {
    width: 21.1%;
  }
  .main__description {
    width: 43.25%;
    max-width: 771px;
  }
  .main__description--short {
    width: 20%;
  }
  .main__content {
    width: 39.3%;
    max-width: 700px;
    padding: 0;
  }
  .main__content--long {
    max-width: none;
    width: 62.55%;
  }
  .main--projects .main__description {
    width: 82.55%;
    max-width: none;
    border-right: none;
  }
  .main__item {
    border-bottom: 1px solid #1E2D3D;
    margin-bottom: 0;
  }
  .main__item:last-child {
    border: none;
  }
}
.sub-list {
  padding: 16px 0;
  display: none;
}
.sub-list--opened {
  display: block;
}
.sub-list__label {
  font-weight: 400;
  display: flex;
  font-size: 16px;
  line-height: 21px;
  color: #fff;
  background-position-x: 43px;
  cursor: pointer;
}
.sub-list__label--html {
  background-image: url("../img/icon-html.svg");
}
.sub-list__label--react {
  background-image: url("../img/icon-react.svg");
}
.sub-list__label::before {
  content: "";
  display: block;
  width: 19px;
  height: 19px;
  margin-right: 58px;
  background-color: #011627;
  border: 1px solid #607B96;
  border-radius: 2px;
}
.sub-list__checkbox {
  position: absolute;
  z-index: -1;
  opacity: 0;
}
.sub-list__checkbox:checked ~ .sub-list__label::before {
  background-color: #607B96;
  background-image: url("../img/icon-checked.svg");
  background-position: center;
}
.sub-list__button {
  padding: 5px 27px;
  display: flex;
  align-items: center;
  width: 100%;
  border: none;
  text-align: left;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  cursor: pointer;
  color: #fff;
  background-color: #1E2D3D;
}
.sub-list__button::before {
  content: "";
  display: block;
  width: 6px;
  height: 8.5px;
  background-size: 6px 8.5px;
  margin-right: 13.5px;
  background-image: url("../img/button-arrow--right.svg");
}
.sub-list__button--active::before {
  background-image: url("../img/button-arrow--down.svg");
  margin-right: 11px;
  width: 8.5px;
  height: 6px;
  background-size: 8.5px 6px;
}
.sub-list__item {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
  font-weight: 400;
  font-size: 16px;
  padding-left: 34.5px;
  line-height: 21px;
  color: #607B96;
}
.sub-list__item--projects {
  display: flex;
  align-items: center;
  margin-bottom: 16px;
  padding-left: 46.5px;
}
.sub-list__item--projects:last-child {
  margin-bottom: 0;
}
.sub-list__item:hover {
  color: #fff;
  background-color: #263B50;
}
.sub-list__item::before {
  content: "";
  display: block;
  width: 16.2px;
  height: 14.6px;
  background-size: 16.2px 14.6px;
  margin-right: 8px;
}
.sub-list__item--education::before {
  background-image: url("../img/icon-education.svg");
}
.sub-list__item--professionals::before {
  background-image: url("../img/icon-professionals.svg");
}
.sub-list__item--interests::before {
  background-image: url("../img/icon-interests.svg");
}
.sub-list__item--mail::before {
  background-image: url("../img/icon-mail.svg");
}
.sub-list__item--find::before {
  background-image: url("../img/icon-find-me.svg");
}
.sub-list__item--games::before {
  background-image: url("../img/icon-games.svg");
}
.sub-list__item--music::before {
  background-image: url("../img/icon-music.svg");
}
.sub-list__item--films::before {
  background-image: url("../img/icon-films.svg");
}
.sub-list__icon {
  margin-right: 9px;
}
.sub-list__icon--hobbies {
  fill: #43D9AD;
}
.sub-list__icon--contacts {
  fill: #3A49A4;
}
.sub-list__icon--find {
  fill: #FEA55F;
}

@media (min-width: 1200px) {
  .sub-list {
    padding: 18px 0 16px 0;
  }
  .sub-list__button {
    padding: 14px 15px;
    background-color: transparent;
  }
  .sub-list__button--active {
    border-bottom: 1px solid #1E2D3D;
  }
  .sub-list__item--projects {
    padding-left: 34px;
  }
}
.description__header {
  margin-bottom: 17px;
  font-weight: 450;
  font-size: 16px;
  line-height: 140%;
  color: #fff;
}
.description__wrapper {
  display: flex;
  padding: 0 27px;
  white-space: pre-wrap;
}
.description--grey {
  color: #607B96;
}
.description__text-wrapper {
  padding: 0 27px;
}
.description__content {
  font-weight: 450;
  font-size: 16px;
  line-height: 150%;
  color: #607B96;
}
.description__content-prefix {
  display: none;
}
.description__item {
  display: none;
}
.description__item--active {
  display: block;
}
.description__content-wrapper {
  padding: 0 27px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  grid-gap: 27px;
}

@media (min-width: 1200px) {
  .description {
    border-right: 1px solid #1E2D3D;
    margin-bottom: 0;
  }
  .description__content {
    padding-right: 2px;
    margin-right: 2px;
    font-size: 18px;
    overflow-y: scroll;
    height: 780px;
  }
  .description__content::-webkit-scrollbar {
    width: 26px;
    background-color: #011627;
  }
  .description__content::-webkit-scrollbar-thumb {
    background-color: #607B96; /*Цвет ползунка*/
    width: 24px;
  }
  .description__content-wrapper {
    padding-top: 65px;
    height: 100%;
    border-right: 1px solid #1E2D3D;
  }
  .description__item[data-src=music] .description__text-wrapper, .description__item[data-src=games] .description__text-wrapper {
    text-align: center;
  }
  .description__item--active {
    display: flex;
    align-items: flex-start;
    height: 100%;
  }
  .description__content-prefix {
    display: block;
    padding-top: 18px;
    width: 129px;
    min-width: 129px;
    padding-left: 27px;
  }
  .description__content-prefix div {
    display: flex;
  }
  .description__numbers {
    margin-right: 36px;
    display: block !important;
    width: 33px;
    text-align: right;
  }
  .description__text-wrapper {
    height: 100%;
    width: 100%;
    padding-top: 18px;
    border-right: 1px solid #1E2D3D;
  }
  .description__stars {
    width: 33px;
    white-space: pre;
  }
  .description__header {
    display: flex;
    margin-bottom: 0;
    border-bottom: 1px solid #1E2D3D;
  }
  .description__wrapper {
    padding: 14px 15px;
    border-right: 1px solid #1E2D3D;
  }
  .description__prefix {
    display: none;
  }
  .description__title {
    font-weight: 400;
    line-height: 21px;
    color: #607B96;
  }
  .main--projects .description__item--active {
    display: block;
    height: auto;
  }
  .main--projects .description__prefix--last {
    display: inline;
  }
}
.content__title {
  text-transform: capitalize;
  font-weight: 450;
  font-size: 16px;
  line-height: 140%;
  color: #fff;
  margin-bottom: 29px;
}
.content__subtitle {
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  color: #5565E8;
  margin-bottom: 14px;
}
.content__img {
  max-width: 500px;
}
.content__item {
  display: none;
  max-width: 500px;
  margin: 0 auto;
}
.content__item--active {
  display: block;
}
.content__link {
  display: inline-block;
  padding: 10px 14px;
  background: #1C2B3A;
  border: none;
  border-radius: 8px;
  font-weight: 450;
  font-size: 14px;
  line-height: 18px;
  color: #fff;
  margin-bottom: 14px;
  cursor: pointer;
}
.content__link:hover {
  background-color: #263B50;
}
.content__warning {
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  color: #43D9AD;
  margin-bottom: 30px;
}
.content__warning--left {
  display: none;
}
.content__item[data-src=films], .content__item[data-src=games] {
  max-width: none;
}

@media (min-width: 1200px) {
  .content__header {
    height: 50px;
    border-bottom: 1px solid #1E2D3D;
  }
  .content__title {
    display: inline-block;
    font-size: 18px;
    line-height: 24px;
    color: #607B96;
    margin-bottom: 30px;
    padding-top: 18px;
    padding-left: 20px;
  }
  .content__wrapper {
    border-right: 1px solid #1E2D3D;
    min-height: 100%;
  }
  .content__container {
    overflow-y: scroll;
    height: 780px;
    padding-right: 2px;
  }
  .content__container::-webkit-scrollbar {
    width: 26px;
    background-color: #011627;
  }
  .content__container::-webkit-scrollbar-thumb {
    background-color: #607B96; /*Цвет ползунка*/
    width: 24px;
  }
  .content__subtitle {
    margin-bottom: 14px;
  }
  .content__item {
    padding: 0 20px;
  }
  .content__item[data-src=music--daily], .content__item[data-src=music--my] {
    max-width: 600px;
  }
  .content__item[data-src=contacts] {
    padding: 115px 0;
    max-width: none;
  }
  .content__warning--up {
    display: none;
  }
  .content__warning--left {
    display: inline;
  }
}
.films__container {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 20px;
  justify-content: center;
  grid-gap: 20px;
}
.films__title {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  color: #5565E8;
  background-color: #1E2D3D;
}
.films__img {
  width: 190px;
  height: 271px;
}
.films__item {
  display: inline-block;
  text-align: center;
  width: 220px;
  padding-top: 10px;
  border: 1px solid #1E2D3D;
  border-radius: 15px;
  background-color: #011221;
}
.films__text {
  font-weight: 450;
  font-size: 14px;
  line-height: 18px;
  color: #E99287;
}

.games__item {
  padding: 10px 20px;
  margin-bottom: 20px;
  background-color: #011221;
  border: 1px solid #1E2D3D;
  border-radius: 15px;
}
.games__title {
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
  color: #5565E8;
}
.games__subtitle {
  display: inline-block;
  margin-bottom: 15px;
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
  color: #E99287;
}
.games__img {
  margin-bottom: 15px;
}
.games__text {
  font-weight: 450;
  font-size: 16px;
  line-height: 150%;
  color: #607B96;
}
.games__container {
  max-width: 900px;
  margin: 0 auto;
}

.form {
  padding: 0 27px;
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
  min-height: 430px;
}
.form .content__link {
  margin-bottom: 0;
}
.form__label {
  margin-bottom: 10px;
  font-weight: 450;
  font-size: 16px;
  line-height: 21px;
  color: #607B96;
}
.form__field {
  display: flex;
  position: relative;
  flex-direction: column;
}
.form__field {
  margin-bottom: 20px;
}
.form__error {
  position: absolute;
  bottom: -22px;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  color: #E99287;
}
.form__input {
  background-color: #011221;
  height: 41px;
  border: 1px solid #1E2D3D;
  border-radius: 8px;
  font-weight: 450;
  font-size: 16px;
  line-height: 21px;
  color: #465E77;
  padding: 10px 15px;
}
.form__input--textarea {
  height: 145px;
  resize: none;
}
.form__input--textarea::-webkit-scrollbar {
  width: 14px;
  border-left: 1px solid #1E2D3D;
  background-color: #011627;
  border-radius: 0 8px 8px 0;
  overflow: hidden;
}
.form__input--textarea::-webkit-scrollbar-thumb {
  background-color: #607B96; /*Цвет ползунка*/
  width: 24px;
}
.form__input:focus {
  outline: none;
  border: 1px solid #607B96;
  box-shadow: 0px 0px 0px 2px rgba(96, 123, 150, 0.3);
}

@media (min-width: 1200px) {
  .form {
    margin-top: 115px;
    max-width: 500px;
    padding: 0;
    padding-left: 26px;
  }
  .form__field {
    margin-bottom: 24px;
  }
}
.contacts {
  max-width: 690px;
  display: flex;
  align-items: flex-start;
  padding: 0 15px;
  margin: 0 auto;
}
.contacts__code {
  font-weight: 450;
  font-size: 18px;
  line-height: 150%;
  color: #4D5BCE;
  width: 600px;
  overflow-x: scroll;
}
.contacts__code::-webkit-scrollbar {
  width: 26px;
  background-color: #011627;
}
.contacts__code::-webkit-scrollbar-thumb {
  background-color: #607B96; /*Цвет ползунка*/
  width: 24px;
}
.contacts__code--pink {
  color: #C98BDF;
}
.contacts__code--orange {
  color: #FEA55F;
}
.contacts__code--grey {
  color: #607B96;
}
.contacts__prefix {
  margin-right: 40px;
  min-width: 22px;
  text-align: right;
  font-weight: 450;
  font-size: 18px;
  line-height: 150%;
  color: #607B96;
}

.thanks {
  padding: 0 27px;
  max-width: 400px;
  margin: 0 auto;
  text-align: center;
}
.thanks__title {
  font-weight: 450;
  font-size: 24px;
  line-height: 31px;
  color: #fff;
  margin-bottom: 13px;
}
.thanks__text {
  font-weight: 450;
  font-size: 18px;
  line-height: 24px;
  margin-bottom: 21px;
}

@media (min-width: 1200px) {
  .thanks {
    flex-direction: column;
    align-items: center;
    padding-top: 176px;
  }
}
.error {
  position: fixed;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  top: 50%;
  left: 50%;
  padding: 1px;
  transform: translate(-50%, -50%);
  background-color: #cccccc;
  border: 1px solid #fff;
  border-bottom: 1px solid #000;
  border-right: 1px solid #000;
  width: 400px;
  height: 150px;
  z-index: 2;
}
.error__title {
  padding: 4px 15px;
  font-weight: 450;
  color: #fff;
  background-image: linear-gradient(to right, #0342b3, #53a5c6);
}
.error__text {
  display: flex;
  align-items: center;
  margin: 0 auto;
}
.error__text::before {
  content: "";
  display: block;
  width: 50px;
  height: 50px;
  margin-right: 15px;
  background-image: url("../img/icon-error.svg");
}
.error__btn {
  margin: 0 auto 16px auto;
  background-color: #ccc;
  border: 1px solid #fff;
  border-bottom: 1px solid #000;
  border-right: 1px solid #000;
  width: 50px;
}
.error__btn:active {
  border: 1px solid #000;
  border-bottom: 1px solid #fff;
  border-right: 1px solid #fff;
}

.project {
  width: 291px;
  margin: 0 auto;
}
.project__title {
  margin-bottom: 15px;
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
  color: #5565E8;
}
.project__postfix {
  font-weight: 450;
  font-size: 16px;
  line-height: 21px;
  color: #607B96;
}
.project__item {
  background: #011221;
  border: 1px solid #1E2D3D;
  border-radius: 15px;
  position: relative;
}
.project__item::after {
  content: "";
  position: absolute;
  display: block;
  width: 28px;
  height: 28px;
  top: 17px;
  right: 17px;
  z-index: 3;
}
.project__item--react::after {
  background-image: url("../img/icon-project--react.svg");
}
.project__item--html::after {
  background-image: url("../img/icon-project--html.svg");
}
.project__img {
  border-radius: 15px 15px 0 0;
  margin-bottom: 29px;
  position: relative;
}
.project__text {
  font-weight: 450;
  font-size: 16px;
  line-height: 130%;
  color: #607B96;
  margin-bottom: 23px;
}
.project__text-wrapper {
  padding: 0 31px;
}
.project__button {
  margin-bottom: 32px;
}

@media (min-width: 1200px) {
  .project {
    width: 370px;
  }
  .project__item::after {
    top: 19px;
  }
}/*# sourceMappingURL=style.css.map */