*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  background-repeat: no-repeat;
  box-sizing: border-box;
  font-family: "Fira Code";
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

body {
  background-color: #010C15 ;
  padding: 15px;
}
img {
  max-width: 100%;
  height: auto;
}
.container {
  border: 1px solid $border-color;
  max-width: 900px;
  border-radius: 8px;
  margin: 0 auto;
  background-color: #011627;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 95vh;
  background-image: url("../img/bg-mobile.png");
  background-position: center;
  &--withoutBG {
    background-image: none;
  }
}

.page-title {
  padding: 21px 27px 29px;
  font-weight: 450;
  font-size: 14px;
  line-height: 140%;
  color: #fff;
}
.header--opened ~.page-title {
  display: none;
}

@media (min-width: $desktop-width) {
  .container {
    max-width: 1782px;
    max-height: 941px;
    margin: 0 auto;
    background-image: url("../img/bg-desktop.png");
  background-position: right;
  }
  .page-title {
    display: none;
  }
}
